body
	background-color: #DCD9D4
	font-family: Roboto, sans-serif

	.game-wrapper
		width: 100%
		height: 100vh
		display: flex
		justify-content: center
		align-items: center

		.game-container
			display: flex
			flex-direction: column
			width: 1000px
			background: #fff
			padding: 20px
			border-radius: 15px
			gap: 25px
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px


			.top-container
				width: 100%

			.bottom-container
				width: 100%
				display: flex
				gap: 25px
				justify-content: space-between

				.left-container
					display: flex
					flex-direction: column
					gap: 25px

					&__bottom-panel
						display: flex
						flex-direction: column
						gap: 15px
						align-items: center

						.input-item
							display: flex
							flex-direction: column

						button
							outline: none
							border: none
							padding: 8px 16px
							border-radius: 12px
							cursor: pointer
							background: #eee
							transition: 0.3s ease
							margin-top: 10px
							font-size: 18px

							&:hover
								background: #ddd

				.right-container
					display: flex
					flex-direction: column
					gap: 15px

					&__top-panel
						width: 100%
						display: flex
						justify-content: space-between
						align-items: center

						.mines-container
							#mines-count
								background: #eee
								border-radius: 4px
								padding: 8px
								cursor: default
								transition: 0.3s ease

								&:hover
									background: #ddd

						#reset-btn
							outline: none
							border: none
							background: #eee
							border-radius: 4px
							padding: 4px 8px
							cursor: pointer
							font-size: 20px
							transition: 0.3s ease

							&:hover
								background: #ddd

					&__bottom-panel
						position: relative

						.game-state-container
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							background: rgba(0, 0, 0, 0.8)
							display: none
							justify-content: center
							align-items: center
							font-size: 32px
							color: #ddd

							&.active
								display: flex






